<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Test</title>
	<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
	<script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
	<style type="text/css">
body { background-color: #000; font-family: Arial, Helvetica, sans-serif; color: #fff; }
//td { font-face: Arial, Helvetica, sans-serif; }
.preis { text-align: right; }
.region { text-align: center; }
	</style>
</head>

<body>
{{ View | raw }}
</body>
</html>
