<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Test</title>
	<script type="text/Javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
	<style type="text/css">
body { background-color: #000; font-family: Arial, Helvetica, sans-serif; color: #fff; }
.preis { text-align: right; }
.region { text-align: center; }
	</style>
</head>

<body>
{{ View | raw }}
</body>
</html>
